*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body
{
    position: relative;
    padding: 10px 10px;
    background-color: #F3F5FC;
    font-size: 10px;
    min-height: 100vh;
}


.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container_one
{
    height: 70vh;
}

.nav
{
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo
{
    width: 25px;
}

.social_container
{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0A3871;
}

.social_icon
{
    width: 40px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social_icon:hover
{
    transform: scale(.9);
}

.container_input
{
    height: 40vh;
    display: flex;
    align-items: center;
    padding-left: 11vw;
}

.input
{
    position: relative;
    font-weight: 400;
    font-size: 23px;
    line-height: 150%;
    color: #0A3871;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #0A3871;
}

.input::placeholder
{
    color: #0A3871;
}

.input:focus
{
    outline: none;
}

.container_extras
{
    padding-left: 5px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_alert
{
    display: flex;
    align-items: center;
    padding-left: 3%;  
}

.alert_text
{
    margin-left: 5px;
    font-size: 13px;
}

.container_button
{
    height: 30vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button_one, .button_two
{
    width: 200px;
    height: 45px;
    border-radius: 24px;
    cursor: pointer;
}

.button_one
{
    background-color: #0A3871;
    color: #F3F5FC;
    border: none;
}

.button_one:hover
{
    opacity: .9;
}

.button_two
{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 2px solid #0A3871;
}

.container_two
{
    margin-top: 5%;
    height: 25vh;
}

.rectangle
{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.message_one
{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    margin-top: 10px;
    color: #0A3871;
}

.message_two
{
    width: fit-content;
    height: fit-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding: 10px 0;
    color: #0A3871;
    margin-top: 13px;
    z-index: 1000;
}

.munheco{
    display: none;
}

.resultado{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #0A3871;
    font-weight: 700;
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 32px;
    padding: 5px 10px;
    text-align: center;
    display: none;
    background-color: transparent;
}

.resultado:valid{
    outline: none;
}

.copiar
{
    position: absolute;
    bottom: 10px;
    width: 200px;
    height: 45px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #F3F5FC;
    color: #0A3871;
    border: 2px solid #0A3871;
    display: none;
}

.copiar:hover
{
    opacity: .9;
}


@media (min-width: 375px){
    .container_two
    {
        height: 100vh;
    }

    .munheco{
        display: block;
        width: 230px;
    }

    .copiar{margin-top: 20px;}

    .resultado{font-size: 25px}
}

@media (min-width: 480px){

    .container_button
    {
        height: fit-content;
        flex-direction: row;
        justify-content: space-around;
    }

    .button_one, .button_two
    {
        height: 55px;
        width: 250px;
    }

    .munheco
    {
        width: 260px;
    }

    .input
    {
        font-size: 30px;
    }
}

@media (min-width: 700px){
    .input
    {
        width: 400px;
    }
}

@media (min-width: 768px){
    body{
        padding-top: 20px;
    }

    .container
    {
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
    }

    .container_one
    {
        width: 60vw;
        height: 95vh;
    }

    .nav
    {
        padding-left: 40px;
    }

    .container_input
    {
        height: 55vh;
    }

    .container_extras
    {
        margin-left: 5%;
        margin-top: 50px;
        width: 101%;
    }


    .button_one, .button_two
    {
        width: 240px;
    }

    .container_two
    {
        width: 30vw;
        margin-top: 0;
        height: 95vh;
    }

}

@media (min-width: 900px)
{
    .input
    {
        width: 440px;
    }

    .container_alert
    {
        padding-left: 6%;
    }

    .button_one, .button_two
    {
        height: 70px;
        width: 300px;
    }

    .munheco
    {
        width: 280px;
    }

    .copiar
    {  
        bottom: 81px;
        height: 70px;
        width: 250px;
    }

    .resultado{
        z-index: 0;
        margin-top: 50px;
        font-size: 30px;
    }

}